.container {
  display: flex;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: calc(100% - 60px);
  margin: 40px 0 0px 60px;

  > h1 {
    color: #E1E1E6;
    font-size: 3rem;
  }

  > p {
    color: #E1E1E6;
    font-size: 2rem;
  }
}

.content_options {
  display: flex;
  justify-content: space-around;
  gap: 15px;
  width: 100%;
}

.contato {
  margin-bottom: 50px;
  width: auto;
  padding: 1rem 2rem;
  background-color: #00B37E;
  color: white;
  font-size: 1.5rem;
  border-radius: 8px;
  cursor: pointer;
}

.contato:hover {
  background-color: #00875F;
  transition: background-color .3s;
}