/* Reset CSS */

/* Defina a borda da caixa como 0 e o preenchimento como 0 para todos os elementos */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* Defina o tamanho da fonte padrão para 16 pixels */
html {
  font-size: 16px;
}

/* Defina a cor padrão do texto como preto */
body {
  color: #000;
}

/* Remova a decoração de link padrão */
a {
  text-decoration: none;
}

/* Defina a cor do link padrão como azul e a cor do link visitado como roxo */
a:link {
  color: blue;
}

a:visited {
  color: purple;
}
